# ignore desktop metadata
.DS_Store

# ignore build folder
*/build
*/Build

# ignore object and library files
*.o
*.a

# ignore vim swp files
*.swp

# ignore console and binary output
*.out

.vscode/

*/bench_results/
